@model IEnumerable<CommentModel>;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <a href="@Url.Action("Create","Comment")" class="btn btn-primary float-left">
            <i class="fas fa-plus"></i> Add comment
        </a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Action</th>
                </tr>
                @foreach (var item in Model)
                {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.CommentHeader</td>
                            <td>@item.PostId</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                }
        </table>
    </div>
    <!-- /.card-body -->
</div>

<script>
    $(function() {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>